<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vuelo-heading" data-cy="VueloCreateUpdateHeading">Create or edit a Vuelo</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pasaporteCovid">Pasaporte Covid</label>
          <input
            type="checkbox"
            class="form-check"
            name="pasaporteCovid"
            id="field_pasaporteCovid"
            data-cy="pasaporteCovid"
            formControlName="pasaporteCovid"
          />
          <div
            *ngIf="
              editForm.get('pasaporteCovid')!.invalid && (editForm.get('pasaporteCovid')!.dirty || editForm.get('pasaporteCovid')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pasaporteCovid')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numeroDeVuelo">Numero De Vuelo</label>
          <input
            type="text"
            class="form-control"
            name="numeroDeVuelo"
            id="field_numeroDeVuelo"
            data-cy="numeroDeVuelo"
            formControlName="numeroDeVuelo"
          />
          <div
            *ngIf="
              editForm.get('numeroDeVuelo')!.invalid && (editForm.get('numeroDeVuelo')!.dirty || editForm.get('numeroDeVuelo')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('numeroDeVuelo')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('numeroDeVuelo')?.errors?.minlength">
              This field is required to be at least 10 characters.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('numeroDeVuelo')?.errors?.maxlength">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_aeropuerto">Aeropuerto</label>
          <select class="form-control" id="field_aeropuerto" data-cy="aeropuerto" name="aeropuerto" formControlName="aeropuerto">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                aeropuertoOption.id === editForm.get('aeropuerto')!.value?.id ? editForm.get('aeropuerto')!.value : aeropuertoOption
              "
              *ngFor="let aeropuertoOption of aeropuertosSharedCollection; trackBy: trackAeropuertoById"
            >
              {{ aeropuertoOption.ciudad }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_destinoAeropuerto">Destino Aeropuerto</label>
          <select
            class="form-control"
            id="field_destinoAeropuerto"
            data-cy="destinoAeropuerto"
            name="destinoAeropuerto"
            formControlName="destinoAeropuerto"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                aeropuertoOption.id === editForm.get('destinoAeropuerto')!.value?.id
                  ? editForm.get('destinoAeropuerto')!.value
                  : aeropuertoOption
              "
              *ngFor="let aeropuertoOption of aeropuertosSharedCollection; trackBy: trackAeropuertoById"
            >
              {{ aeropuertoOption.ciudad }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_avion">Avion</label>
          <select class="form-control" id="field_avion" data-cy="avion" name="avion" formControlName="avion">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="avionOption.id === editForm.get('avion')!.value?.id ? editForm.get('avion')!.value : avionOption"
              *ngFor="let avionOption of avionsSharedCollection; trackBy: trackAvionById"
            >
              {{ avionOption.tipo }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_piloto">Piloto</label>
          <select class="form-control" id="field_piloto" data-cy="piloto" name="piloto" formControlName="piloto">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="pilotoOption.id === editForm.get('piloto')!.value?.id ? editForm.get('piloto')!.value : pilotoOption"
              *ngFor="let pilotoOption of pilotosSharedCollection; trackBy: trackPilotoById"
            >
              {{ pilotoOption.dni }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_tripulantes">Tripulante</label>
          <select
            class="form-control"
            id="field_tripulantes"
            data-cy="tripulante"
            multiple
            name="tripulantes"
            formControlName="tripulantes"
          >
            <option
              [ngValue]="getSelectedTripulante(tripulanteOption, editForm.get('tripulantes')!.value)"
              *ngFor="let tripulanteOption of tripulantesSharedCollection; trackBy: trackTripulanteById"
            >
              {{ tripulanteOption.dni }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
